<div class="principal-card request">
  <div class="section-header">
    <div  class="name-title">
      <mat-icon>book</mat-icon>
      <span>Your Contracts</span>
    </div>
  </div>
  <div  class="content section-grid">
    <div class="name-title" *ngIf="contracts?.length === 0; else contractListView">
      <span >You don't have any contract</span>
    </div>
    <ng-template  #contractListView>
      <mat-card class="grid-card" *ngFor="let contract of contracts">
        <mat-card-header  class="grid-title">
          <mat-card-title> Contract {{contract.id}}</mat-card-title>
          <mat-card-subtitle>{{contract.createdAt}}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider><br>
        <mat-card-content class="grid-content" style="margin-left: 15px">
          <div class="section-grid">
            <p *ngIf="type === 'landlord'">Student: {{contract.studentFullName}}</p>
            <p *ngIf="type === 'student'">Landlord: {{contract.landlordFullName}}</p>
            <p>Amount: {{contract.amount}}</p>
          </div>
        </mat-card-content>
        <mat-card-actions  align="end">
          <button mat-flat-button  class="card-button" (click)="viewContract(contract.id)">
            <mat-icon>visibility</mat-icon> View </button>
          <button mat-flat-button
                  *ngIf="type === 'landlord' && contract.state === 'ACCEPTED'"
                  class="card-button"
                  (click)="concludeContract(contract.id)">
            <mat-icon>clear</mat-icon> Conclude</button>
          <button mat-flat-button
                  *ngIf="type === 'landlord' && contract.state === 'UNRESOLVED'"
                  class="card-button"
                  (click)="cancelContract(contract.id)">
            <mat-icon>clear</mat-icon> Cancel</button>
          <button mat-flat-button
                  class="card-button"
                  *ngIf="type === 'student' && contract.state === 'UNRESOLVED'"
                  (click)="acceptContract(contract.id)">
            <mat-icon>clear</mat-icon> Accept</button>
          <button mat-flat-button
                  class="card-button"
                  *ngIf="type === 'student' && contract.state === 'UNRESOLVED'"
                  (click)="denyContract(contract.id)">
            <mat-icon>clear</mat-icon> Deny</button>
          <button mat-flat-button
                  class="card-button"
                  *ngIf="type === 'student' && contract.state === 'ACCEPTED' "
                  (click)="addPayment(contract.id)">
            <mat-icon>clear</mat-icon> Pay</button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </div>
